<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
    <h1>Home Page <%=4+5+1%> </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia dolore quos eius modi cum quam quo reiciendis vero iusto necessitatibus enim magni, accusantium inventore beatae? Atque eligendi laudantium reiciendis aliquid.
    Dolorem aspernatur possimus quaerat labore id, doloribus ab unde modi deleniti molestiae nesciunt? Porro sapiente iusto iure modi, laboriosam minus quas quo libero alias vero! Natus voluptates at iusto consequatur.</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo illum commodi qui id consequatur. Saepe, fuga soluta totam nihil accusamus placeat quibusdam. Eos quidem voluptas nisi amet, asperiores unde accusantium.</p>
<%- include('partials/footer') %> 